html *
{
   font-family: Arial !important;
}

/* HEADER CSS */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a, .dropbtn{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .drop {
  background-color: red;
}

li.dropdown{
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px, 8px, 16px, 0px, rgba(0,0,0,0.2)
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo{
  display: block;
  margin-right: none;
  margin-left: none;
  width: 10%;
  height: 10%;
}

#syncronize{
  float: right; 
  margin-right: 4%;
}

#login{
  float: right;
}

.container{
   min-width: 310px;
   max-width: 400px; 
   height: 300px; 
   margin: 0 auto
  }

.container2{
  padding: 16px;
  padding-top: 1px;
}

span.psw{
  float: right;
  padding-top: 16px;
}

.modal{
  color: white;
  display: none;
  position: fixed;
  z-index: 1;
  left: 5%;
  right: 65%;
  top: 3%;
  overflow: auto;
  background-color: grey;
  padding-top: 10px;
}

.loginHeader{
  text-align: center;
}

modal-content{
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 5px solid #888;
  width: 80%;
}

button{
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  border: none;
}

button:hover{
  opacity: 0.8;
}

.close{
  position: relative;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold; 
}

.close:hover, .close:focus{
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* BODY CSS */

body {
  background-image: url("../img/polar_titan.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* FOOTER CSS */